<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Jacks or Better - About</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap about-page">
    <header>
      <h1>The Poker Game</h1>
    </header>
    <section>

      <p>
        Looking for a fun way to pass time and potentially make some crypto, too?
      </p>
      <p>
        Try your luck by playing Jacks or Better video poker.
      </p>
      <p>
        When playing the video poker with us, you will always enjoy:
      </p>
      <p>
        <b>Instant cashout</b> - get your money send to your wallet in seconds
      </p>
      <p>
        <b>Bigger payout</b> - with the house edge of just 1%, you keep more in your pocket
      </p>
      <p>
        <b>Provably fair</b> — every game and every card deck is publicly recorded on the blockchain
      </p>
      <p>
        <b>Mega jackpot</b> - in each and every game you're taking part in the lottery to win the mega-jackpot
      </p>
      <p>
        Ready to give it a try?
        <br/>
        <br/>
        <a href="/credit">Buy credit</a>
      </p>

      <p>
        P.S. Don’t forget there’s a chance to claim the jackpot with every game! 💰
      </p>

      <br/>

      <h2>Jacks or Better is easy to play</h2>
      <p>
        If you're new to video poker, Jacks or Better is the best game you can start with.
        The reason why is because there are no multipliers, or multi-hand formats to worry about.
        Instead, JoB has a simple paying process, and you can check out the easy steps bellow:
      </p>
      <p>
        - You start by betting 1 and 10 coins. You should play all 10 coins if you want to qualify
          for maximum payback. The reason why is because the royal flush payout increases
          disproportionately when winning with 5 coins ($1500), versus 10 coins ($5000).
      </p>
      <p>
        - When you've chosen your coin size, the next step is to click Deal to receive your hand.
      </p>
      <p>
        - Decide what cards to hold and discard. Click Draw when you're finished, and discards will be
        replaced by new cards.
      </p>
      <p>
        - You will either receive a payout or lose your bet, depending on the hand.
      </p>
      <p>
        - Click Deal to play another hand with the same number of coins. Or you can change your bet
          before starting a new hand. If you're wagering 10 coins, as recommended, you won't have to
          worry about changing your bet.
      </p>

      <h2>Jacks or Better Strategy Is Simple</h2>
      <p>
        Along with being easy to play, Jacks or Better also features simple strategy when compared to most
        video poker games.
      </p>
      <p>
        What's nice is that you can also use both basic and advanced strategy chart to achieve nearly
        the same payback - the difference is only 0.08%.
      </p>

      <h2>You Can Play for Progressive Jackpots</h2>
      <p>
        Our Jacks or Better offers progressive jackpots, which is exciting because you can win more money
        than the standard $5,000 royal flush playout.
      </p>
      <p>
        The jackpot size depends upon several factors, including how popular the casino is, what the
        jackpod is seeded at, and how long it's been since the jackpot was won.
      </p>
      <p>
        In most cases, you can win a progressive jackpot worth $6,500 or higher.
      </p>

      <h2>Jacks or Better Has a Cool History</h2>
      <p>
        While Jacks or Better has been in casinos since the 1970s, it has much-richer history than this.
        The game's origins can be traced back to the early 1800s, when poker was widely played on
        Mississippi riverboats.
      </p>
      <p>
        Author J. H. Green was the first person to coin the term Jacks or Better, doing so in 1834.
        During his riverboat travels, Green wrote that Jacks or Better has fair rules, versus the
        cheating-prone Three-Card Monte.
        Aside from Green's reference, it's unclear when JoB originated.
      </p>
      <p>
        The most-accurate timeline of Jacks or Better history begins in the 1970s, when the game first
        appeared in casino floors.
        But it wasn't until Si Redd came along in the mid-1970s that JoB became a popular game.
      </p>
      <p>
        Redd's company, SIRCOMA (Si Redd's Coin Machines), had mild success with Draw Poker.
        The problem with their 5-card variant is that players must get a two pair or better to win.
        Redd changed the lowest payout to a pair of jacks so that players would win with greater frequency.
        The move was a genius decision that helped the video poker's popularity immensely.
      </p>

      <h2>How to Win at Jacks or Better</h2>
      <p>
        One of our favorite aspects of video poker is that it gives you a strong chance to win.
      </p>
      <p>
        When a Royal Flush hand is ranged, the pay-off odds amount to 800 to 1, since there are only 4
       ways to make the hand.  On the other hand, a Straight Flush hand can be made in a total of 36
        ways so its pay-off odds equal 50 for 1.  The pay-off odds for Four of a Kind hand are 25 for 1,
        and the number of ways that could end up with such a hand are 324.
      </p>
      <p>
        Player could make a Full House hand in 3,744 ways, which decreases the pay-off odds to 9 to 1.
        On the other hand, the Flush hand could be made in 5,108 ways, which leads to the pay-off odds
        being reduced to 6 to 1. Straight hands could be formed in 10,200 ways. The pay-off odds for such
        hands is 4 for 1. The hands consistent of Three of a Kind bring pay-off odds of 3 for 1 as they
        could be formed in 54,912 ways.
      </p>
      <p>
        The Two Pair hands can be made in 123,552 ways and bring 2 for 1 pay-off odds. The Pair of Jacks
        or Better hand feature pay-off odds of 1 for 1 and can be combined in a total of 2,062,860.
      </p>
      <p>
        All in all, the Jacks or Better gives you a really good chance to win, that's why it's our favorite game.
      </p>

      <h2>Contact</h2>
      <p>
          Before playing Jacks or Better you must agree to these simple <a href="/tos">terms of service</a>. If you do not
           agree to these terms, do not play this game. We reserve the right to make changes to these Terms.
        </p>
        <p>
          If you have any questions, e-mail us at xxx@xxxx.com.
      </p>

    </section>

    <section class="action-container bottom-wrap">
          <a class="custom-btn special-btn" href="/">Play the game</a>
          <a class="custom-btn" href="/credit">Buy credit</a>
    </section>

  </div>

</body>
</html>
