<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Jacks or Better Poker</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="static/js/function.js"></script>
<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap about-page">
    <header>
      <h1>Lorem ipsum dolor sit amet</h1>
    </header>
    <section>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt at dui id dignissim. Vestibulum gravida fringilla consectetur. Pellentesque tincidunt erat et sagittis blandit. Aliquam iaculis massa ac massa molestie, vitae ullamcorper lacus vehicula. Cras pulvinar suscipit lacus, eget consectetur est ultricies vitae. Duis justo odio, vehicula vitae luctus hendrerit, facilisis ut mauris. Maecenas scelerisque mi vitae nisi auctor, ut hendrerit ex cursus. Duis diam leo, pellentesque quis ex eget, mattis condimentum augue. Phasellus pharetra eu turpis a semper.</p>
      <h2>Mauris facilisis maximus mauris</h2>
      <p>Mauris facilisis maximus mauris, non sagittis quam consectetur at. Suspendisse pharetra feugiat orci, sed pellentesque nulla sodales sit amet. Nullam gravida molestie placerat. Nunc mollis pretium dui a congue. Fusce aliquet nulla in arcu congue, ut condimentum ante eleifend. Quisque nec egestas elit, in aliquam lacus. Nam placerat aliquet tempus. Vestibulum sodales pellentesque lectus bibendum sodales. Sed dapibus vitae felis quis varius.</p>
    </section>

    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt at dui id dignissim. Vestibulum gravida fringilla consectetur. Pellentesque tincidunt erat et sagittis blandit. Aliquam iaculis massa ac massa molestie, vitae ullamcorper lacus vehicula. Cras pulvinar suscipit lacus, eget consectetur est ultricies vitae. Duis justo odio, vehicula vitae luctus hendrerit, facilisis ut mauris. Maecenas scelerisque mi vitae nisi auctor, ut hendrerit ex cursus. Duis diam leo, pellentesque quis ex eget, mattis condimentum augue. Phasellus pharetra eu turpis a semper.</p>
        <h2>Mauris facilisis maximus mauris</h2>
        <p>Mauris facilisis maximus mauris, non sagittis quam consectetur at. Suspendisse pharetra feugiat orci, sed pellentesque nulla sodales sit amet. Nullam gravida molestie placerat. Nunc mollis pretium dui a congue. Fusce aliquet nulla in arcu congue, ut condimentum ante eleifend. Quisque nec egestas elit, in aliquam lacus. Nam placerat aliquet tempus. Vestibulum sodales pellentesque lectus bibendum sodales. Sed dapibus vitae felis quis varius.</p>
        <p>Donec interdum non mi nec condimentum. Pellentesque cursus nec turpis ullamcorper finibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus placerat ultrices tincidunt. Sed in commodo risus, id malesuada sapien. Phasellus id finibus felis. Pellentesque ultricies dolor id libero fermentum fermentum. Nunc tempus facilisis leo, quis consectetur magna dapibus ut.</p>
        <p>Proin id feugiat elit, vitae pellentesque lorem. Cras varius ultrices leo vel semper. Duis pulvinar nulla ligula, et dictum leo tempus vel. Cras tristique vel purus in venenatis. Nam sodales euismod fringilla. Maecenas sit amet magna massa. Phasellus finibus, augue sit amet pretium dignissim, arcu diam auctor massa, sed venenatis quam turpis nec velit. Nulla facilisi.</p>
      </section>
  
  </div>

</body>
</html>
