<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>About - Jacks or Better Poker</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap about-page">
    <header>
      <h1>Jacks or Better</h1>
    </header>
    <section>

      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Looking for a fun way to pass time and potentially make some crypto, too?
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Try your luck by playing Jacks or Better video poker.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        When playing the video poker with us, you will always enjoy:
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <b>Instant cashout</b> - get your money send to your wallet in seconds
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <b>Bigger payout</b> - with the house edge of just 1%, you keep more in your pocket
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <b>Provably fair</b> — every game and every card deck is publicly recorded on the blockchain
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <b>Mega jackpot</b> - in each and every game you're taking part in the lottery to win the mega-jackpot
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Ready to give it a try?
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        [XXX button buy credit]
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        P.S. Don’t forget there’s a chance to claim the jackpot with every game! 💰
      </p>

      <br/>

      <h2>Jacks or Better is easy to play</h2>
      <br/>
      <p>
        If you're new to video poker, Jacks or Better is the best game you can start with.
      </p>
      <p>
        The reason why is because there are no multipliers, or multi-hand formats to worry about.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
          Instead, JoB has a simple paying process, and you can check out the easy steps bellow:
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        - You start by betting 1 and 10 coins. You should play all 10 coins if you want to qualify
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        &nbsp;&nbsp;&nbsp;for maximum payback. The reason why is because the royal flush payout increases 
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        &nbsp;&nbsp;&nbsp;disproportionately when winning with 5 coins ($1500), versus 10 coins ($5000).
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        - When you've chosen your coin size, the next step is to click Deal to receive your hand.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        - Decide what cards to hold and discard. Click Draw when you're finished, and discards will be 
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        &nbsp;&nbsp;&nbsp;replaced by new cards.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        - You'll either receive a payout or lose your bet, depending on the hand.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        - Click Deal to play another hand with the same number of coins. Or you can change your bet
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        &nbsp;&nbsp;&nbsp;before starting a new hand. But if you're wagering 10 coins, as recommended, you won't have to 
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        &nbsp;&nbsp;&nbsp;worry about changing your bet. 
      </p>

      <br/>

      <h2>Jacks or Better Strategy Is Simple</h2>
      <br/>
      <p>
        Along with being easy to play, Jacks or Better also features simple strategy when compared to most
      </p>
      <p>
        video poker games.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        What's nice is that you can also use both basic and advanced strategy chart to achieve nearly 
      </p>
      <p>
        the same payback - the difference is only 0.08%.
      </p>

      <br/>

      <h2>You Can Play for Progressive Jackpots</h2>
      <br/>
      <p>
        Our Jacks or Better offers progressive jackpots, which is exciting because you can win more money
      </p>
      <p>
        than the standard $5,000 royal flush playout.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        The jackpot size depends upon several factors, including how popular the casino is, what the
      </p>
      <p>
        jackpod is seeded at, and how long it's been since the jackpot was won.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        In most cases, you can win a progressive jackpot worth $6,500 or higher.  
      </p>

      <br/>

      <h2>Jacks or Better Has a Cool History</h2>
      <br/>
      <p>
        While Jacks or Better has been in casinos since the 1970s, it has much-richer history than this.
      </p>
      <p>
        The game's origins can be traced back to the early 1800s, when poker was widely played on 
      </p>
      <p>
        Mississippi riverboats.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Author J.H. Green was the first person to coin the term Jacks or Better, doing so in 1834.
      </p>
      <p>
        During his riverboat travels, Green wrote that Jacks or Better has fair rules, versus the
      </p>
      <p>
        cheating-prone Three-Card Monte.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Aside from Green's reference, it's unclear when JoB originated.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        The most-accurate timeline of Jacks or Better history begins in the 1970s, when the game first 
      </p>
      <p>
        appeared in casino floors.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        But it wasn't until Si Redd came along in the mid-1970s that JoB became a popular game.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Redd's company, SIRCOMA (Si Redd's Coin Machines), had mild success with Draw Poker.
      </p>
      <p>
        The problem with their 5-card variant
        is that players must get a two pair or better to win.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Redd changed the lowest payout to a pair of jacks so that players would win with greater frequency. 
      </p>
      <p>
        The move was a genius
        decision that helped the video poker's popularity immensely.
      </p>

      <br/>
      <h2>How to Win at Jacks or Better</h2>
      <br/>
      <p>
        One of our favorite aspects of video poker is that it gives you a strong chance to win.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        When a Royal Flush hand is ranged, the pay-off odds amount to 800 to 1, since there are only 4
      </p>
      <p>
       ways to make the hand.  On the other hand, a Straight Flush hand can be made in a total of 36
      </p>
      <p>
        ways so its pay-off odds equal 50 for 1.  The pay-off odds for Four of a Kind hand are 25 for 1, 
      </p>
      <p>
        and the number of ways that could end up with such a hand are 324.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        Player could make a Full House hand in 3,744 ways, which decreases the pay-off odds to 9 to 1.
      </p>
      <p>
        On the other hand, the Flush hand could be made in 5,108 ways, which leads to the pay-off odds 
      </p>
      <p>
        being reduced to 6 to 1. Straight hands could be formed in 10,200 ways. The pay-off odds for such 
      </p>
      <p>
        hands is 4 for 1. The hands consistent of Three of a Kind bring pay-off odds of 3 for 1 as they 
      </p>
      <p>
        could be formed in 54,912 ways.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        The Two Pair hands can be made in 123,552 ways and bring 2 for 1 pay-off odds. The Pair of Jacks 
      </p>
      <p>
        or Better hand feature pay-off odds of 1 for 1 and can be combined in a total of 2,062,860.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        All in all, the Jacks or Better gives you a really good chance to win, that's why it's our favorite game.
      </p>

      <br/>

      <h2>Provably Fair In Technical Terms</h2>
      <br/>
      <p>
          We guarantee that every Jacks or Better game you play with us is completely fair. You will be dealt a 
        </p>
        <p>
          completely random deck of cards every game, and provably demonstrate that we have in no way 
        </p>
        <p>
            manipulated the shuffle.
      </p>
      <p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
          Instead of just taking our word for it, we make available all of the information you need to verify that 
        </p>
        <p>
          our game is fair.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          The reason that we can guarantee this is that your web browser supplies a random number that we 
        </p>
        <p>
          must incorporate into the random number generator in a provably consistent way. Our server 
        </p>
        <p>
          shuffles the deck, and your computer then gives us a random number that we must use 
        </p>
        <p>
          to repeatedly cut the deck. Since our servers do not know what random number your computer will 
        </p>
        <p>
          send, we have no way of knowing how the shuffle will look in the end.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
            This is how the deck shuffling mechanism works in technical terms.
          </p>
          <p>
            Before the game is started, a random seed number is first chosen by our server.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
            We then create an SHA-256 hash of this server seed and send it to your web browser. This hash 
          </p>
          <p>
            serves as a sort of encryption of the original seed number chosen by the server. From this hash 
          </p>
          <p>
            you can not identify the seed number chosen, but you can later use it to verify that we did not 
          </p>
          <p>
            change the seed number afterwards.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
            Your web browser then sends our server a random seed number. Your web browser just selects any 
          </p>
          <p>
          random number, although technically there is nothing preventing the client sending any number they 
        </p>
        <p>
          want. The point is that there is no way of knowing what this random number will be.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
            After the server receives this client seed number, it combines the server seed and the client seed
          </p>
          <p>
          into a single final game seed. For example, if the server seed was 7UD11wUoLxDSEKU and the
        </p>
        <p>
          client seed was 1000293221 then the final game seed will be 7UD11wUoLxDSEKU1000293221.
        </p>
        <p>
          The server is required to use the server seed that it picked up earlier, since the client can use
        </p>
        <p>
          the previously received server hash to verify this. Therefore, the server has no control over what
        </p>
        <p>
           the final game seed will be, and therefore has no way to manipulate the outcome of your game.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
            Once the game is finished, the server reveals the server seed that it initially chose. The client can
          </p>
          <p>
            then verify that the hash of this server seed does indeed match what the server originally sent before
          </p>
          <p>
             the game started, and your browser will automatically verify that everything was legitimate.
        </p>
        <p>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
            Enjoy!
      </p>

      <br/>
      <h2>Contact</h2>
      <br/>
      <p>
          Before playing Jacks or Better you must agree to these simple <a href="/tos">terms of service</a>. If you do not
        </p>
        <p>
           agree to these terms, do not play this game. We reserve the right to make changes to these Terms. 
        </p>
        <p>
          If you have any questions, e-mail us at xxx@xxxx.com.
      </p>

    </section>
  
  </div>

</body>
</html>
