{% load humanize %}
{% load poker_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Jacks or Better Poker - Cards Deck</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap deck-page">
    <header>
      <h1>Cards Deck</h1>
      Deck <font color="blue">{{deck_hash}}</font>
      <br/>
      <br/>
    </header>
    <section class="deck-wrap">

      <p>

        {% for card in cards_deck_split %}
            <img 

            {% if card in starting_hand %}
             class="highlight-orange"
            {% endif %}

            {% if card in drawn_cards %}
             class="highlight-green"
            {% endif %}

            src="/static/cards/{{card}}.png" height="100">
        
         {% endfor %}

        <br/>
        <br/>

        <b>Starting Hand</b>
        <br/>
        <br/>
        {% for card in starting_hand %}
          <img 
            {% if card in swapped_cards %}
              class="highlight-green"
            {% endif %}
            src="/static/cards/{{card}}.png" height="100">
        {% endfor %}
        <br/>
        <br/>


        <b>Swapped Cards</b>
        <br/>
        <br/>
        {% for card in swapped_cards %}
          <img class="highlight-green" src="/static/cards/{{card}}.png" height="100">
        {% endfor %}
        <br/>
        <br/>

        <b>Drawn Cards</b>
        <br/>
        <br/>
        {% for card in drawn_cards %}
          <img src="/static/cards/{{card}}.png" height="100">
        {% endfor %}
        <br/>
        <br/>

        <b>Winning Hand</b>
        <br/>
        <br/>
        {% for card in cards_deck.winning_hand_extrapolated|extrapolate_hand %}
          <img src="/static/cards/{{card}}.png" height="100">
        {% endfor %}
        <br/>
        <br/>

        <b>Post-game</b>
        <br/>
        <br/>
        Hand Evaluation: {{cards_deck.winning_hand_result}}
        <br/>
        Swapped cards: {{cards_deck.swapped_cards_count}}
        <br/>
        Prize: ${{cards_deck.win_amount|intcomma}}.00
        <br/>
        <br/>


        <b>Verification</b>
        <br/>
        <br/>
        &#10003; Server Seed Hash Matches
        <br/>
        &#10003; Mersenne Twister Proves the Deck
        <br/>
        &#10003; Hand Evaluation is legitimate
        <br/>
        <br/>


      <b>Provably Fair In Technical Terms</b>
      <br/>
      <p>
          We guarantee that every Jacks or Better game you play with us is completely fair. You will be dealt a
          completely random deck of cards every game, and provably demonstrate that we have in no way
          manipulated the shuffle.
      </p>
      <p>
          Instead of just taking our word for it, we make available all of the information you need to verify that
          our game is fair.
        </p>
        <p>
          The reason that we can guarantee this is that your web browser supplies a random number that we
          must incorporate into the random number generator in a provably consistent way. Our server
          shuffles the deck, and your computer then gives us a random number that we must use
          to repeatedly cut the deck. Since our servers do not know what random number your computer will
          send, we have no way of knowing how the shuffle will look in the end.
        </p>
        <p>
            This is how the deck shuffling mechanism works in technical terms.
            Before the game is started, a random seed number is first chosen by our server.
            We then create an SHA-256 hash of this server seed and send it to your web browser. This hash
            serves as a sort of encryption of the original seed number chosen by the server. From this hash
            you cannot identify the seed number chosen, but you can later use it to verify that we did not
            change the seed number afterwards.
        </p>
        <p>
          Your web browser then sends our server a random seed number. Your web browser just selects any
          random number, although technically there is nothing preventing the client sending any number they
          want. The point is that there is no way of knowing what this random number will be.
        </p>
        <p>
          After the server receives this client seed number, it combines the server seed and the client seed
          into a single final game seed. For example, if the server seed was 7UD11wUoLxDSEKU and the
          client seed was 1000293221 then the final game seed will be 7UD11wUoLxDSEKU1000293221.
        </p>
        <p>
          The server is required to use the server seed that it picked up earlier, since the client can use
          the previously received server hash to verify this. Therefore, the server has no control over what
          the final game seed will be, and therefore has no way to manipulate the outcome of your game.
        </p>
        <p>
          Once the game is finished, the server reveals the server seed that it initially chose. The client can
          then verify that the hash of this server seed does indeed match what the server originally sent before
          the game started, and your browser will automatically verify that everything was legitimate.
        </p>

      Shuffled: <font color="blue">{{cards_deck.shuffled_at}}</font>

    </section>

  </div>

</body>
</html>
