{% load humanize %}
{% load poker_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Jacks or Better Poker</title>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">
</script>
<script type="text/javascript" src="/static/plugins/jquery.cookie-1.4.1.min.js"></script>
<script type="text/javascript" src="/static/plugins/jquery.animateNumber.min.js"></script>
<script type="text/javascript" src="/static/app.js"></script>
<meta name="viewport" content="width=830, user-scalable=yes">
<link rel="shortcut icon" href="/static/images/fav-icon.ico" type="image/fav-icon">

<script>
	var csrf_token = "{{csrf_token}}"
    var session_key = "{{player_session_key}}"
    var autoplay_id = true;
    var autoplay = {{autoplay}};
    var user_credit = {{credit|floatformat:0}};
    var contract_address = "{{contract_address}}";
    var contract_abi = "{{contract_abi|escapejs}}";
</script>
<script>
    $( document ).ready(function() {

      const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
      }

      $('body').on('click', '.draw-action', () => location.reload());
      $('.draw-first-action').click(function() {
        app.first_draw();
      });

      $('body').on('click', '.card-wrap', function() {
        $(this).toggleClass('held');
      });

      // function for table
      $('.type-list .points').click(function() {
         app.change_bet($(this).attr('data-base'));
      });

      function drawcards(shoudRefresh) {
          var hand=new Array()
          $(".cards .card-wrap").each(function(i){
            hand[i]=null
            if($(this).hasClass("held")){
              var cname=$(this).find(".flip-card-back img").attr("src")
              var pth=cname.split("/")
              pth=pth[pth.length-1]
              hand[i]=(pth.split(".")[0])
            }
          });


          jQuery(".deal-action").next('.draw-action').show();
          jQuery(".deal-action").hide();

          $.ajax({
              type: "POST",
              url: '/ajax/draw/cards/',
              headers: {
                  'X-CSRFToken': csrf_token
              },
              data: {
                player_session_key: session_key,
                cardData: hand,
              },
              success: function (response) {

                obj = response;

                $('.deal-cards').addClass('game-done');
                var date = new Date();
                date.setTime(date.getTime() + (5 * 60 * 1000));
                $.cookie('game_already_played', '1', {expires: date});

                if(obj.congrats_you_won_flag){
                  app.sound_play('media-win');
                }

                jQuery('.deal-cards .cards .card-wrap').each(function(index){

                  if(!jQuery(this).hasClass('held')){
                    var car_to_swich = "static/cards/"+obj.final_hand[index]+".png";
                    jQuery(this).removeClass('flipit');
                    jQuery(this).find('img').attr('src', car_to_swich);
                    //jQuery('.flip-card-inner').on('transitionend webkitTransitionEnd oTransitionEnd', function () {
                    //   jQuery('.card-wrap').removeClass('held');
                    //});
                    jQuery('.credit').html('Credit $'+obj.credit);

                    if(obj.congrats_you_won_flag){
                      $('.stats-line .bet-amaunt').remove();
                      $('.stats-line .win').after('<div class="bet-amaunt">' + app.evaluated_hand_text(obj.evaluated_hand) + '</div>');

                      $('.deal-cards').addClass('player-win');
                      $('.deal-cards .text-over').html('YOU WIN $' + obj.win_amount);
                      $('.type-list .points span').removeClass( "activeLine" );
                      $('.type-list .combination span').removeClass( "activeLine" );
                      $('.type-list .points span:nth-child('+ obj.row_selector +')').addClass( "activeLine" );
                      $('.type-list .combination span:nth-child(' + obj.row_selector + ')').addClass( "activeLine" );
                    }
                  }
                })
                if(shoudRefresh){
                    setTimeout(function(){
                        location.reload();
                    }, 2000);
                  }
              },
              error: function () {
                console.log("error!!!");
              }
          });

      } // draw function end


      $('body').on('click', ".deal-action", function(event){
        event.preventDefault();
        drawcards(false);
      });


      // autoplay function

      if (autoplay == true ) {
          if($('.btn-action.draw-first-action').length == 1){
              $('.btn-action.draw-first-action').click();
          }
        $('body').on('transitionend webkitTransitionEnd oTransitionEnd', '.flip-card-inner:last', function () {
          setTimeout(function(){
              drawcards(true);
          }, 2000);
        });
        $('.autoplay').addClass('onPlay').html('Autoplay Is On');
        $('.btn-action.auto-stop-action').addClass('show');
      }
      // else {
      //   $('.autoplay').removeClass('onPlay').html('Autoplay');
      //   $('.btn-action.auto-stop-action').removeClass('show');
      // }

      var rowselector = app.row_selector('{{evaluated_hand}}');

      $('.type-list .points span:nth-child(' + rowselector + ')').addClass( "activeLine" );
      $('.type-list .combination span:nth-child(' + rowselector + ')').addClass( "activeLine" );


      if($('.card-wrap').length > 0){
        $('.card-wrap').each(function(i){
        var cardflip = $(this);
          setTimeout(function() {
            cardflip.toggleClass('flipit', !cardflip.hasClass('flipit'));
          }, 130*i);
        });
        app.sound_play('media-deal-five');
      }

      setTimeout(function(){
        $('.preselect').addClass('held');
      }, 1300);

      $(".autoplay,.auto-stop-action").click(function(){
          if(user_credit == 0){
              return true;
          }
          $.ajax({
                type: "POST",
                url: '/ajax/autoplay/',
                headers: {
                    'X-CSRFToken': csrf_token
                },
                data: {
                  player_session_key: session_key,
                  autoplay: !autoplay,
                },
                success:function(response){
                  if (autoplay == true ) {
                      // switch off
                      $('.autoplay').removeClass('onPlay').html('Autoplay');
                      autoplay = false;
                      $('.btn-action.auto-stop-action').removeClass('show');
                  }
                  else{
                      // switch on
                      if ($('.show-backs').length == 1 || $('.game-done').length == 1) {
                          location.reload();
                      }
                      else{
                          autoplay = true;
                          drawcards(true);
                      }
                  }
                }
            });
      })

      $('.languages-wrap a').click(function(){
          $('.languages-wrap a').removeClass('active-language');
          $(this).toggleClass('active-language');
      });

    });
  </script>


<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

    <div id="popup1" class="overlay" style="display:none;">
        <div class="popup">
            <h2>Change is will be ...</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempus tristique nisi vitae mollis. In hac habitasse platea dictumst. Morbi sit amet varius erat, et sodales orci. In semper sapien id neque tempor varius.</p>
            </div>
            <div class="action-container">
                <a class="custom-btn" href="#">Close</a>
            </div>
        </div>
    </div>
    <div id="popup2" class="overlay" style="display:none;">
        <div class="popup">
            <h2>Credit is too low</h2>
            <a class="close" href="#">&times;</a>
            <div class="content">
                <p>
                  Your credit is too low to be able to select {% if credit != 0 %} a higher {% else %} the {% endif %} bet.
                  <br/>
                  <br/>
                  To add credits simply navigate to the credits section,
                  select the amount you'd like to add and click on the confirm button.
                </p>
            </div>
            <div class="action-container">
                <a class="custom-btn special-btn" href="#">Close</a>
                <a class="custom-btn" href="/credit">Add credits</a>
            </div>
        </div>
    </div>


  <div class="site-wrap">
    <div class="languages-wrap">
      <a href="#"><img src="static/images/flag-russia.svg" /></a>
      <a href="#"><img src="static/images/flag-macedonia.svg" /></a>
      <a href="#"><img src="static/images/flag-china.svg" /></a>
      <a class="active-language" href="#"><img src="static/images/flag-UK.svg" /></a>
    </div>
    <header class="main-head"><!-- main had -->
      <div class="mega">
        <span>super</span>
        <span></span>
      </div>
      <div class="major">
        <span>mega</span>
        <span></span>
      </div>
      <div class="minor">
        <span>major</span>
        <span></span>
      </div>
      <div class="mini">
        <span>minor</span>
        <span></span>
      </div>
    </header><!-- main had END-->

    <section class="type-list"><!-- type list -->
      <div class="combination"><!-- combinations -->
        <span>Royal Flush</span>
        <span>Straight Flush</span>
        <span>4 of a Kind</span>
        <span>Full house</span>
        <span>Flush</span>
        <span>Straight</span>
        <span>3 of a kind</span>
        <span>Two pair</span>
        <span>Jacks or better</span>
      </div><!-- combinations END -->
      <div data-base="1" class="points point-1 {% if bet_amount == 1 %}active{% endif %}"><!-- points -->
        <span>$250</span>
        <span>$50</span>
        <span>$25</span>
        <span>$9</span>
        <span>$6</span>
        <span>$4</span>
        <span>$3</span>
        <span>$2</span>
        <span>$1</span>
      </div><!-- points END -->
      <div data-base="2" class="points point-2 {% if bet_amount == 2 %}active{% endif %}"><!-- points -->
        <span>$500</span>
        <span>$100</span>
        <span>$50</span>
        <span>$18</span>
        <span>$12</span>
        <span>$8</span>
        <span>$6</span>
        <span>$4</span>
        <span>$2</span>
      </div><!-- points END -->
      <div data-base="3" class="points point-3 {% if bet_amount == 3 %}active{% endif %}"><!-- points -->
        <span>$750</span>
        <span>$150</span>
        <span>$75</span>
        <span>$27</span>
        <span>$18</span>
        <span>$12</span>
        <span>$9</span>
        <span>$6</span>
        <span>$3</span>
      </div><!-- points END -->
      <div data-base="5" class="points point-4 {% if bet_amount == 5 %}active{% endif %}"><!-- points -->
        <span>$1500</span>
        <span>$250</span>
        <span>$125</span>
        <span>$45</span>
        <span>$30</span>
        <span>$20</span>
        <span>$15</span>
        <span>$10</span>
        <span>$5</span>
      </div><!-- points END -->
      <div data-base="10" class="points point-5 {% if bet_amount == 10 %}active{% endif %}"><!-- points -->
        <span>$5000</span>
        <span>$500</span>
        <span>$250</span>
        <span>$90</span>
        <span>$60</span>
        <span>$40</span>
        <span>$30</span>
        <span>$20</span>
        <span>$10</span>
      </div><!-- points END -->
    </section><!-- type list END -->

    <h2 class="curent-combination"></h2>


    <div class="deal-cards {% comment %}player-win{% endcomment %}">

      {% if credit == 0 or not hand %}

            <div class="cards cards-back show-backs"><!-- cards back -->
              <div class="back-wrap"><img src="static/cards/card-back.png" /></div>
              <div class="back-wrap"><img src="static/cards/card-back.png" /></div>
              <div class="back-wrap"><img src="static/cards/card-back.png" /></div>
              <div class="back-wrap"><img src="static/cards/card-back.png" /></div>
              <div class="back-wrap"><img src="static/cards/card-back.png" /></div>
            </div>

      {% else %}

            <section class="cards"><!-- cards -->

              {% for card in hand %}
                <div class="card-wrap {% if card in sugested_hand %} preselect {% endif %}"> <!-- on the second listing put simply "held" here not preselect, the preselect is there only for the initial shuffle so that the "held" cards won't show up prior the cards being revieled -->
                  <div class="indicator">Held</div>
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="static/cards/card-back.png" />
                    </div>
                    <div class="flip-card-back">
                      <img src="static/cards/{{card}}.png" />
                    </div>
                  </div>
                </div>
              {% endfor %}

            </section><!-- cards END -->

      {% endif %}


      <div class="inser-coin {% if credit == 0 %}show-inser{% endif %}">PLAY 5 CREDITS</div>
      <div class="text-over">YOU WIN $5!!!</div>

      <div class="win-extras">
        <img class="left" src="static/images/win-graphics-1.png" />
        <img class="right" src="static/images/win-graphics-2.png" />
      </div>

    </div>

    <div class="stats-line"><!-- stats -->

      <span class="win style-font">BET ${{bet_amount}}</span>

      {% if evaluated_hand != "Nothing." %}
        <div class="bet-amaunt">
          {% if evaluated_hand == "One-pair." %} One pair {% endif %}
          {% if evaluated_hand == "Jacks-or-better." %} Jacks or better {% endif %}
          {% if evaluated_hand == "Three-of-a-kind." %} Three of a kind {% endif %}
          {% if evaluated_hand == "Two-pair." %} Two pairs {% endif %}
          {% if evaluated_hand == "Full-house." %} Full house {% endif %}
          {% if evaluated_hand == "Four-of-a-kind." %} Four of a kind {% endif %}
          {% if evaluated_hand == "Straight." %} Straight {% endif %}
          {% if evaluated_hand == "Flush." %} Flush {% endif %}
          {% if evaluated_hand == "Royal-flush." %} Royal flush {% endif %}
       </div>
      {% endif %}

      <span class="credit style-font">Credit ${{credit|floatformat:0}}</span>
    </div><!-- stats END -->

    <div class="actions"><!-- actions -->
      <div class="perspective-in">
        <a class="btn-action" href="#">cashout</a>
        <a class="btn-action btn-sound" href="#">sound</a>
        <a class="btn-action" href="/about">about</a>
        <a class="coin btn-action" href="/credit"><span>${{bet_amount}}</span></a>
        <a class="btn-action" href="javascript:app.held_all()">Cancel</a>
        <a class="btn-action bet-max">Bet max</a>
        {% if credit == 0 %}
        <a class="btn-action" href="/credit">+ Credit</a>
        {% else %}
            {% if not hand %}
                <a class="btn-action auto-stop-action" href="#">Stop</a>
                <a class="btn-action draw-first-action" href="#">Deal</a>
            {% else %}
                <a class="btn-action auto-stop-action" href="#">Stop</a>
                <a class="btn-action deal-action" href="#">Draw</a>
                <a class="btn-action draw-action" href="#">Deal</a>
            {% endif %}
        {% endif %}
      </div>
    </div><!-- actions END -->

    <div class="clear"></div>

    <footer class="footer"><!-- footer -->
      <div class="combo-needed">jacks or better</div>
        {% if credit == 0 %}
        <a class="btn-action btn-blink autoplay" href="/credit">
          <font color="white">BUY COINS</font>
        </a>
        {% else %}
        <a class="btn-action autoplay" href="#">
          Autoplay
        </a>
        {% endif %}
      <div class="min-bonus">MINI BONUS ${{mini_bonus|floatformat:2}}</div>
    </footer><!-- footer END -->

  </div>

  <section class="lists">
    <div class="tablewrap"><!-- table beets -->
      <table class="table-beets">
        <tr>
          <th>Created</th>
          <th>User</th>
          <th>Deck Seed</th>
          <th class="hand-th">Hand</th>
          <th>Result</th>
          <th>Wins</th>
          <th>Bet</th>
        </tr>

        {% for deck in winning_decks %}
        <tr>
          <td>{{deck.shuffled_at|naturaltime}}</td>
          <td>{{deck.player.session_key}}</td>
          <td><a href="/deck/{{deck.deck_hash}}">{{deck.deck_hash}}</a></td>
          <td class="card-list">
            {% for card in deck.winning_hand_extrapolated|extrapolate_hand %}
            <img src="static/cards/{{card}}.png">
            {% endfor %}
          </td>
          <td>{{deck.winning_hand_result}}</td>
          <td class="bidon">${{deck.win_amount}}.00</td>
          <td>${{deck.bet_amount}}</td>
        </tr>
        {% endfor %}

      </table>
    </div><!-- table beets END -->
  </section>
  <audio id="media-deal-five">
    <source src="/static/media/deal_five.wav" type="audio/x-wav">
  </audio>
  <audio id="media-win">
    <source src="/static/media/slot_machine_win_22.wav" type="audio/x-wav">
  </audio>
</body>
</html>
