{% load humanize %}
{% load poker_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Jacks or Better Poker</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">
</script>

<script>
    $( document ).ready(function() {
  
      $('.card-wrap').click(function() {
        $(this).toggleClass('held');
      });
  
      $('.type-list .points').click(function() {
        $('.type-list .points').removeClass('active');
        $(this).toggleClass('active');
      });

      {% if evaluated_hand == "Nothing." %}
        var rowselector = 0;
      {% endif %}
      {% if evaluated_hand == "One-pair." %}
        var rowselector = 0;
      {% endif %}
      {% if evaluated_hand == "Royal-flush." %}
        var rowselector = 1;
      {% endif %}
      {% if evaluated_hand == "Straight-flush." %}
        var rowselector = 2;
      {% endif %}
      {% if evaluated_hand == "Four-of-a-kind." %}
        var rowselector = 3;
      {% endif %}
      {% if evaluated_hand == "Full-house." %}
        var rowselector = 4;
      {% endif %}
      {% if evaluated_hand == "Flush." %}
        var rowselector = 5;
      {% endif %}
      {% if evaluated_hand == "Straight." %}
        var rowselector = 6;
      {% endif %}
      {% if evaluated_hand == "Three-of-a-kind." %}
        var rowselector = 7;
      {% endif %}
      {% if evaluated_hand == "Two-pair." %}
        var rowselector = 8;
      {% endif %}
      {% if evaluated_hand == "Jacks-or-better." %}
        var rowselector = 9;
      {% endif %}

      $('.type-list .points span:nth-child(' + rowselector + ')').addClass( "activeLine" );
      $('.type-list .combination span:nth-child(' + rowselector + ')').addClass( "activeLine" );
  
      $('.card-wrap').each(function(i){
      var cardflip = $(this);
        setTimeout(function() {
                cardflip.toggleClass('flipit', !cardflip.hasClass('flipit'));
            }, 200*i);
  
      });
  
      setTimeout(function(){
      $('.preselect').css('opacity','1');
      $('.preselect .indicator').css('opacity','1');
      $('.preselect img').css('margin-top','-1rem');
    }, 1300);

     $('.type-list .points').on( "click", ".preselect", function() {
       $('.type-list .points').removeClass('active');
       $(this).toggleClass('active');
     });

    });
  </script>
  


<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap">

    <header class="main-head"><!-- main had -->
      <div class="mega">
        <span>super</span>
        <span>$213,037.50</span>
      </div>
      <div class="major">
        <span>mega</span>
        <span>$11,813.50</span>
      </div>
      <div class="minor">
        <span>major</span>
        <span>$11.50</span>
      </div>
      <div class="mini">
        <span>minor</span>
        <span>$7.60</span>
      </div>
    </header><!-- main had END-->

    <section class="type-list"><!-- type list -->
      <div class="combination"><!-- combinations -->
        <span>Royal Flush</span>
        <span>Straight Flush</span>
        <span>4 of a Kind</span>
        <span>Full house</span>
        <span>Flush</span>
        <span>Straight</span>
        <span>3 of a kind</span>
        <span>Two pair</span>
        <span>Jacks or better</span>
      </div><!-- combinations END -->
      <div class="points point-1 active"><!-- points -->
        <span>$250</span>
        <span>$50</span>
        <span>$25</span>
        <span>$9</span>
        <span>$6</span>
        <span>$4</span>
        <span>$3</span>
        <span>$2</span>
        <span>$1</span>
      </div><!-- points END -->
      <div class="points point-2"><!-- points -->
        <span>$500</span>
        <span>$100</span>
        <span>$50</span>
        <span>$18</span>
        <span>$12</span>
        <span>$8</span>
        <span>$6</span>
        <span>$4</span>
        <span>$2</span>
      </div><!-- points END -->
      <div class="points point-3"><!-- points -->
        <span>$750</span>
        <span>$150</span>
        <span>$75</span>
        <span>$27</span>
        <span>$18</span>
        <span>$12</span>
        <span>$9</span>
        <span>$6</span>
        <span>$3</span>
      </div><!-- points END -->
      <div class="points point-4"><!-- points -->
        <span>$1500</span>
        <span>$250</span>
        <span>$125</span>
        <span>$45</span>
        <span>$30</span>
        <span>$20</span>
        <span>$15</span>
        <span>$10</span>
        <span>$5</span>
      </div><!-- points END -->
      <div class="points point-5"><!-- points -->
        <span>$5000</span>
        <span>$500</span>
        <span>$250</span>
        <span>$90</span>
        <span>$60</span>
        <span>$40</span>
        <span>$30</span>
        <span>$20</span>
        <span>$10</span>
      </div><!-- points END -->
    </section><!-- type list END -->

    <h2 class="curent-combination"></h2>


    <div class="deal-cards {% comment %}player-win{% endcomment %}">

        <section class="cards"><!-- cards -->

          {% for card in hand %}
            <div class="card-wrap {% if card in sugested_hand %} preselect {% endif %}"> <!-- on the second listing put simply "held" here not preselect -->
              <div class="indicator">Held</div>
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="static/cards/card-back.png" />
                </div>
                <div class="flip-card-back">
                  <img src="static/cards/{{card}}.png" />
                </div>
              </div>
            </div>
          {% endfor %}

        </section><!-- cards END -->

      <div class="inser-coin {% if credit == 0 %}show-inser{% endif %}">PLAY 5 CREDITS</div>
      <div class="text-over">YOU WIN $5!!!</div>
      <div class="win-extras">
        <img class="left" src="static/images/win-graphics-1.png" />
        <img class="right" src="static/images/win-graphics-2.png" />
      </div>

    </div>

    <div class="stats-line"><!-- stats -->

      <span class="win style-font">BET $1</span>

      {% if evaluated_hand != "Nothing." %}
        <div class="bet-amaunt">
          {% if evaluated_hand == "One-pair." %} One pair {% endif %}
          {% if evaluated_hand == "Jacks-or-better." %} Jacks or better {% endif %}
          {% if evaluated_hand == "Three-of-a-kind." %} Three of a kind {% endif %}
          {% if evaluated_hand == "Two-pair." %} Two pairs {% endif %}
          {% if evaluated_hand == "Full-house." %} Full house {% endif %}
          {% if evaluated_hand == "Four-of-a-kind." %} Four of a kind {% endif %}
          {% if evaluated_hand == "Straight." %} Straight {% endif %}
          {% if evaluated_hand == "Flush." %} Flush {% endif %}
          {% if evaluated_hand == "Royal-flush." %} Royal flush {% endif %}
       </div>
      {% endif %}

      <span class="credit style-font">Credit ${{credit|floatformat:0}}</span>
    </div><!-- stats END -->

    <div class="actions"><!-- actions -->
      <div class="perspective-in">
        <a class="btn-action" href="#">cashout</a>
        <a class="btn-action active" href="#">sound</a>
        <a class="btn-action" href="/about">about</a>
        <a class="coin btn-action" href="#"><span>$10</span></a>
        <a class="btn-action" href="#">Cancel</a>
        <a class="btn-action" href="#">Bet max</a>
        <a class="btn-action deal-action" href="#">Deal</a>
      </div>
    </div><!-- actions END -->

    <div class="clear"></div>

    <footer class="footer"><!-- footer -->
      <div class="combo-needed">jacks or better</div>
      <a class="btn-action autoplay" href="#">
        {% if credit == 0 %}
          <font color="white">BUY COINS</font>
        {% else %}
          Autoplay
        {% endif %}
      </a>
      <div class="min-bonus">MINI BONUS ${{mini_bonus|floatformat:2}}</div>
    </footer><!-- footer END -->

  </div>

  <section class="lists">
    <div class="tablewrap"><!-- table beets -->
      <table class="table-beets">
        <tr>
          <th>Created</th>
          <th>User</th>
          <th>Deck Seed</th>
          <th>Hand</th>
          <th>Result</th>
          <th>Bid</th>
          <th>Wins</th>
        </tr>

        {% for deck in DELETEME_TEMP_ONLY_DECKS %}
        <tr>
          <td>{{deck.shuffled_at|naturaltime}}</td>
          <td>{{deck.player.session_key}}</td>
          <td><a href="/deck/{{deck.deck_hash}}">{{deck.deck_hash}}</a></td>
          <td class="card-list"><img src="static/cards/2C.png"><img src="static/cards/3C.png"><img src="static/cards/4C.png"><img src="static/cards/4C.png"><img src="static/cards/4C.png"></td>
          <td>Royal flush</td>
          <td class="bidon">$1.00</td>
          <td>$30</td>
        </tr>
        {% endfor %}

      </table>
    </div><!-- table beets END -->
  </section>
</body>
</html>
