<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>poker game</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous">
</script>

<script type="text/javascript">
      $( document ).ready(function() {

      $('.card-wrap').click(function() {
        $(this).toggleClass('held');
      });

      $('.type-list .points').click(function() {
        $('.type-list .points').removeClass('active');
        $(this).toggleClass('active');
      });

      {% if evaluated_hand == "Royal-flush." %}
        var rowselector = 1;
      {% endif %}
      {% if evaluated_hand == "Straight-flush." %}
        var rowselector = 2;
      {% endif %}
      {% if evaluated_hand == "Four-of-a-kind." %}
        var rowselector = 3;
      {% endif %}
      {% if evaluated_hand == "Full-house." %}
        var rowselector = 4;
      {% endif %}
      {% if evaluated_hand == "Flush." %}
        var rowselector = 5;
      {% endif %}
      {% if evaluated_hand == "Straight." %}
        var rowselector = 6;
      {% endif %}
      {% if evaluated_hand == "Three-of-a-kind." %}
        var rowselector = 7;
      {% endif %}
      {% if evaluated_hand == "Two-pair." %}
        var rowselector = 8;
      {% endif %}
      {% if evaluated_hand == "Jacks-or-better." %}
        var rowselector = 9;
      {% endif %}

      $('.type-list .points span:nth-child(' + rowselector + ')').addClass( "activeLine" );
      $('.type-list .combination span:nth-child(' + rowselector + ')').addClass( "activeLine" );

      });
</script>


<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap">

    <header class="main-head"><!-- main had -->
      <div class="mega">
        <span>super</span>
        <span>11,813,037.50</span>
      </div>
      <div class="major">
        <span>mega</span>
        <span>11,813.50</span>
      </div>
      <div class="minor">
        <span>major</span>
        <span>11.50</span>
      </div>
      <div class="mini">
        <span>minor</span>
        <span>7.6</span>
      </div>
    </header><!-- main had END-->

    <section class="type-list"><!-- type list -->
      <div class="combination"><!-- combinations -->
        <span>Royal Flush</span>
        <span>Straight Flush</span>
        <span>4 of a Kind</span>
        <span>Full house</span>
        <span>Flush</span>
        <span>Straight</span>
        <span>3 of a kind</span>
        <span>Two pair</span>
        <span>Jacks or better</span>
      </div><!-- combinations END -->
      <div class="points point-1 active"><!-- points -->
        <span>250</span>
        <span>50</span>
        <span>25</span>
        <span>9</span>
        <span>6</span>
        <span>4</span>
        <span>3</span>
        <span>2</span>
        <span>1</span>
      </div><!-- points END -->
      <div class="points point-2"><!-- points -->
        <span>500</span>
        <span>100</span>
        <span>50</span>
        <span>18</span>
        <span>12</span>
        <span>8</span>
        <span>6</span>
        <span>4</span>
        <span>2</span>
      </div><!-- points END -->
      <div class="points point-3"><!-- points -->
        <span>750</span>
        <span>150</span>
        <span>75</span>
        <span>27</span>
        <span>18</span>
        <span>12</span>
        <span>9</span>
        <span>6</span>
        <span>3</span>
      </div><!-- points END -->
      <div class="points point-4"><!-- points -->
        <span>1000</span>
        <span>200</span>
        <span>100</span>
        <span>36</span>
        <span>24</span>
        <span>16</span>
        <span>12</span>
        <span>8</span>
        <span>4</span>
      </div><!-- points END -->
      <div class="points point-5"><!-- points -->
        <span>4000</span>
        <span>250</span>
        <span>125</span>
        <span>45</span>
        <span>30</span>
        <span>20</span>
        <span>15</span>
        <span>10</span>
        <span>5</span>
      </div><!-- points END -->
    </section><!-- type list END -->

    <div class="deal-cards">

        {% comment %}
          {{deck}}
        {% endcomment %}

        {% comment %}
          XXX TODO jacks or better nevies rozpoznat<br/>
          XXX TODO suggest witch cards to hold (narocny ukol)<br/>
          XXX TODO ked padne kredit menej ako $10 tak vymen Buy 1 za Buy Credit
          XXX IGOR TODO do pice s winning hand description pod tabulkou
          XXX IGOR TODO animovat left to right unover cards
          XXX IGOR TODO karty malicko dolu a trosinku mensia medzera medzi tabulkou a hore bonusom
          XXX IGOR TODO buy credit topup
        {% endcomment %}

        <font color="white">
          debug rock and roll baby
          <br/>
          <br/>
          numeral_dict {{numeral_dict}}
          <br/>
          <br/>
          suit_dict {{suit_dict}}
          <br/>
          <br/>
          hand {{hand}}
          <br/>
          <br/>
          <font color="red">
              suggested_hand (sugest all Royal-flush Straight-flush 4-of-a-kind, full-house)
              <br/>
              <br/>
              suggest_hand {{sugest_hand}}
              <br/>
              <br/>
              suggested_hand input {{suggested_hand}}
              <br/>
              <br/>
          </font>
        deck {{deck}}
        <br/>
        <br/>
        debug looks like the BSOD (a fucking blue screen of death) over here lol :D
        </font>




      <section class="cards"><!-- cards -->

        {% for card in hand %}
          ### xxx todo tu checkni ci je karta v liste suggested hand (template tag) 
          <div class="card-wrap held">
            <div class="indicator">Held</div>
            <img src="static/cards/{{card}}.png" />
          </div>

          {% endfor %}

      </section><!-- cards END -->



      <div class="text-over">YOU WIN $5!!!</div>
      <div class="win-extras">
        <img class="left" src="static/images/win-graphics-1.png" />
        <img class="right" src="static/images/win-graphics-2.png" />
      </div>
    </div>

    <div class="stats-line"><!-- stats -->
      <span class="win style-font">BET $5</span>

      {% if evaluated_hand != "Nothing." %}

          {% if evaluated_hand == "One-pair." %}
            <div class="bet-amaunt">One pair</div>
          {% endif %}
          {% if evaluated_hand == "Jacks-or-better." %}
            <div class="bet-amaunt">Jacks or better</div>
          {% endif %}
          {% if evaluated_hand == "Three-of-a-kind." %}
            <div class="bet-amaunt">Three of a kind</div>
          {% endif %}
          {% if evaluated_hand == "Two-pair." %}
            <div class="bet-amaunt">Two pairs</div>
          {% endif %}
          {% if evaluated_hand == "Full-house." %}
            <div class="bet-amaunt">Full house/div>
          {% endif %}
          {% if evaluated_hand == "Four-of-a-kind." %}
            <div class="bet-amaunt">Four of a kind</div>
          {% endif %}
          {% if evaluated_hand == "Straight." %}
            <div class="bet-amaunt">Straight</div>
          {% endif %}
          {% if evaluated_hand == "Flush." %}
            <div class="bet-amaunt">Flush</div>
          {% endif %}
          {% if evaluated_hand == "Royal-flush." %}
            <div class="bet-amaunt">Royal flush</div>
          {% endif %}

      {% endif %}

      <span class="credit style-font">Credit $0</span>
    </div><!-- stats END -->

    <div class="actions"><!-- actions -->
      <div class="perspective-in">
        <a class="btn-action" href="#">cashout</a>
        <a class="btn-action active" href="#">sound</a>
        <a class="btn-action" href="#">about</a>
        <a class="coin btn-action" href="#"><span>$1</span></a>
        <a class="btn-action" href="#">Bet one</a>
        <a class="btn-action" href="#">Bet max</a>
        <a class="btn-action deal-action" href="#">Deal</a>
      </div>
    </div><!-- actions END -->

    <div class="clear"></div>

    <footer class="footer"><!-- footer -->
      <div class="combo-needed">jacks or better</div>
      <a class="btn-action autoplay" href="#">AUTOPLAY</a>
      <div class="min-bonus">MINI BONUS 0.002</div>
    </footer><!-- footer END -->

  </div>

  <section class="lists">
    <div class="tablewrap"><!-- table beets -->
      <table class="table-beets">
        <tr>
          <th>Deck</th>
          <th>Transaction</th>
          <th>Bid</th>
          <th>Total bids (eth)</th>
          <th>Refunds (eth)</th>
          <th>Wins (eth)</th>
        </tr>
        <tr>
          <td><a href="#">#1</a></td>
          <td><a href="#">0x336f45b56ce1a20d0b5ebe7a5ac107da260364e0</a></td>
          <td class="card-list"><img src="static/cards/2C.png"><img src="static/cards/3C.png"><img src="static/cards/4C.png"></td>
          <td class="bidon">2.45-eth</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#">#1</a></td>
          <td><a href="#">0x336f45b56ce1a20d0b5ebe7a5ac107da260364e0</a></td>
          <td class="card-list"><img src="static/cards/3C.png"></td>
          <td class="bidon">2.45-eth</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><a href="#">#1</a></td>
          <td><a href="#">0x336f45b56ce1a20d0b5ebe7a5ac107da260364e0</a></td>
          <td class="card-list"><img src="static/cards/4C.png"></td>
          <td class="bidon">2.45-eth</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div><!-- table beets END -->
  </section>
</body>
</html>
