<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Terms of Service - Jacks or Better Poker</title>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/main.css" type="text/css" />
</head>

<body>

  <div class="site-wrap tos-page">
    <header>
      <h1>Jacks or Better</h1>
    </header>
    <section>
 
      <h2>Terms Of Service</h2>
      <p>
            <br/>

            <b>1. Your Personal Information</b> Using this website is completely anonymous. We do not collect any
            personal data, so we therefore have no personal data to give out. Our web
            server may sometimes record your IP address in its log files;
            however, we do not make use of that information and it will never
            be given out to anyone.
            <br/><br/>
            
            <b>2. Limitation of Liability</b> You acknowledge that
            Jacks or Better crypto poker allows you to gamble with the virtual currency, therefore, during the normal course of
            using the service, you may lose some or all of the crypto you
            deposit. Under no circumstances will we be liable for any of your
            losses.
            <br/><br/>
            
            <b>3. Malfunctions</b> In the event that a game malfunctions, all
            gameplay during the malfunction period will be void.
            <br/><br/>
        
            <b>4. Loss and Theft</b> We do everything in our power to secure
            our servers and prevent theft.  In the event of theft, stolen
            crypto or account information cannot be retrieved and we are not
            liable for lost or stolen crypto. It would be wise that you
            do not leave your crypto in game for an extended period of
            time.
            <br/><br/>

            <b>5. Fair play</b> We won't cheat you, and we expect you to extend
            the same courtesy to us. If you are found to be cheating at any of
            our games, your account will be closed, and your funds confiscated.
            Cheating includes, but is not limited to, hacking our servers to
            gain inside knowledge, or
            colluding with any of our agents. We'd like to clarify that playing
            the game strategically and intelligently is fine with us. We do not
            consider automated playing programs ("<i>bots</i>") to be
            cheating. Please do not send server requests too quickly or we may disable your account.
            <br/><br/>
            
            <b>6. Withdrawals</b> The minimum withdrawal amount is $1.00 in crypto. We do not handle fiat currency. Also, we
            subtract 0.0005 BCH or 0.0003 ETH from your withdrawal amount to cover the
            network transaction fee. We reserve the right to send large amounts
            of crypto over a period of time.
            <br/><br/>
        
            <b>7. Inactive Accounts</b> We reserve the right to shut down
            inactive accounts and relinquish their funds. As long as you visit
            at least once every 6 months, your account will remain active.
            Since we do not ask for any contact information, we are unable to
            contact you to let you know the account has been closed. Do not
            leave your crypto in game for an extended period of
            time.
            <br/><br/>

        
            <b>8. Game Forfeiture</b> All games are expected to be played
            within two (2) hours of their deal.  We reserve the right to 
            cancel any game left incomplete after more than two hours in order
            to conserve system memory and resources. Any bet placed on an unfinished
            deal is considered a forfeited play.
            <br/><br/>
            
            <b>9. Cross Chain Recovery Policy</b>
            Any crypto deposits that are intentionally or mistakenly sent 
            to the game wallet will be be considered irretrievable. 
            Crypto deposits greater than 1000€ /may/ be retrieved for the user 
            solely at the discretion of Jacks or Better crypto poker, however this will incur a charge 
            of 10% of the amount.        
            <br/><br/>

            This Agreement shall be governed and construed in accordance with the laws of Nevis. The courts of Nevis shall have exclusive jurisdiction to adjudicate any dispute arising out of these terms.

    </p>

    </section>

    <section>
        <p><a href="/">Play the game</a></p>
        <p><a href="/tos">Terms of service</a></p>
    </section>

  
  </div>

</body>
</html>
